:root {
  --col-velvet-vortex: #5a1263;
  --col-blissful-berry: #a1128e;
  --col-swimmers-pool: #30c0b6;
  --col-dr-white: #fafafa;
  --col-bergamot-orange: #f49e57;
  --col-lioness: #dfaf49;
  --col-mod-orange: #dd543c;
  --col-endless-possibilities: #dd473c;
  --col-proton-red: #840901;

}